$def with (unVerifyRecords,verifyRecords)
<html >
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/frozen.css">
    <script src="/static/lib/zepto.min.js"></script>
<script src="/static/js/frozen.js"></script>
    <title>返现记录</title>
</head>
<body>
<table class="ui-table ui-border">
    <thead>
    <tr>
        <th>订单编号</th>
        <th>审核状态</th>
        <th>日期</th>
    </tr>
    </thead>
    <tbody>
    $for record in unVerifyRecords:
        <tr>
            <td>$record.order_id</td>
            <td>未审核</td>
            <td>$record.create_time</td>
        </tr>
    $for record in verifyRecords:
        <tr>
            <td>$record.order_id</td>
            $if record.verify_flag == 0 :
                <td>通过</td>
            $else:
                <td>不通过</td>
            <td>$record.update_time</td>
        </tr>
    </tbody>
</table>
</body>
</html>